#toastBox {
  position: absolute;
  right: 1.9rem;
  bottom: 1.9rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  padding: 1.25rem;
}

.toast {
  width: 25rem;
  height: 5rem;
  background: #fff;
  font-weight: 500;
  margin: 0.9rem 0;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;
  transform: translateX(100%);
  animation: moveLeft 0.3s linear forwards;
}

@keyframes moveLeft {
  100% {
    transform: translateX(0);
  }
}

.toast i {
  margin: 0 1.25rem;
  font-size: 2.2rem;
  color: #008000;
}

.toast.error i {
  color: #ff0000;
}

.toast.invalid i {
  color: #ffa500;
}

.toast::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background: #008000;
  animation: anim 5s linear forwards;
}

@keyframes anim {
  100% {
    width: 0;
  }
}

.toast.error::after {
  background: #ff0000;
}

.toast.invalid::after {
  background: #ffa500;
}